---
import BlogLayout from "@/layouts/BlogLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const data = post.data;
const { Content } = await post.render();
---

<BlogLayout title={data.title} description={data.description}>
  <article>
    <header>
      <p>
        <a href="/blog" aria-label="Go back to blog home">Blog</a>&nbsp;/&nbsp;{
          data.title
        }
      </p>
      <p>
        <time>
          {
            new Date(data.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </p>
      <div class="tag">
        {
          data.tags?.map((tag) => (
            <a href={`/blog/tags/${tag}`} aria-label={`Posts about ${tag}`}>
              {tag}
            </a>
          ))
        }
      </div>
    </header>
    <Content />
  </article>
  <style lang="scss">
    .tag {
      a {
      }
    }
  </style>
</BlogLayout>
