---
import BlogLayout from "@/layouts/BlogLayout.astro";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.slug,
    },
    props: post,
  }));
}

type Props = CollectionEntry<"blog">;
const post = Astro.props;
const data = post.data;
const { Content } = await post.render();
---

<BlogLayout
  title={`${data.title} - Yumi's Blog`}
  description={data.description}
>
  <article>
    <header>
      <p>
        <a href="/blog" aria-label="Go back to blog home"
          ><strong>Blog</strong></a
        >&nbsp;&#x2F;&nbsp;{data.title}
      </p>
      <p>
        <time>
          {
            new Date(data.pubDate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </time>
      </p>
    </header>
    <Content />
    {
      data.tags && (
        <div class="tag">
          tags:
          {data.tags.map((tag) => (
            <a href={`/blog/tags/${tag}/`} aria-label={`Posts about ${tag}`}>
              {tag}
            </a>
          ))}
        </div>
      )
    }
  </article>
  <style lang="scss">
    .tag {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  </style>
  <style lang="scss" is:global>
    h1,
    h2,
    h3 {
      a {
        position: relative;
        text-decoration: none;
        &:hover {
          color: var(--text-color);
          &:before {
            content: "#";
            position: absolute;
            transform: translateX(-125%);
          }
        }
      }
    }
  </style>
</BlogLayout>
