---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog").then((collection) => {
  return collection
    .sort((a, b) => {
      return new Date(b.data.pubDate) > new Date(a.data.pubDate) ? 1 : -1;
    })
    .slice(0, 5);
});

interface Project {
  title: string;
  url: string;
  period: string;
}

const projects: Project[] = [
  {
    title: "onekiji",
    url: "https://onekiji.com",
    period: "since june 2023",
  },
  {
    title: "yumi.to",
    url: "https://yumi.to/_q",
    period: "october 2023",
  },
  {
    title: "xcode-discord-rpc",
    url: "https://yumi.to/xcode-discord-rpc",
    period: "october 2023",
  },
  {
    title: "dime",
    url: "https://github.com/rarfell/dimeApp",
    period: "since october 2023",
  },
  {
    title: "why privacy matters",
    url: "https://yumi.to/tedx",
    period: "late 2020",
  },
];

interface Stack {
  title: string;
  url?: string;
}

const stacks: Stack[] = [
  {
    title: "raycast",
    url: "https://raycast.com",
  },
  {
    title: "arc",
    url: "https://arc.net",
  },
  {
    title: "macbook",
    url: "https://www.apple.com/mac/",
  },
  {
    title: "iphone",
    url: "https://www.apple.com/iphone/",
  },
  {
    title: "nvim",
    url: "https://neovim.io/",
  },
  {
    title: "vscode",
    url: "https://code.visualstudio.com/",
  },
  {
    title: "proton suite",
    url: "https://proton.me/",
  },
  {
    title: "discord",
    url: "https://discord.com/",
  },
  {
    title: "hyper",
    url: "https://hyper.is/",
  },
  {
    title: "signal",
    url: "https://signal.org/",
  },
  {
    title: "github",
    url: "https://github.com",
  },
  {
    title: "cleanshot x",
    url: "https://cleanshot.com/",
  },
  {
    title: "hhkb",
    url: "https://happyhackingkb.com/",
  },
];

const skills: Stack[] = [
  {
    title: "typescript",
    url: "https://typescriptlang.org",
  },
  {
    title: "php",
    url: "https://php.net",
  },
  {
    title: "sql",
    url: "https://sql.org",
  },
  {
    title: "html/css",
    url: "https://developer.mozilla.org/en-US/docs/Web",
  },
  {
    title: "git",
    url: "https://git-scm.com/",
  },
  {
    title: "astro",
    url: "https://astro.build/",
  },
  {
    title: "supabase",
    url: "https://supabase.io/",
  },
  {
    title: "ionic",
    url: "https://ionicframework.com/",
  },
  {
    title: "japanese",
  },
  {
    title: "english",
  },
];

const experiencedSkill: Stack[] = [
  {
    title: "rust",
    url: "https://rust-lang.org",
  },
  {
    title: "swift",
    url: "https://swift.org",
  },
  {
    title: "c++",
    url: "https://isocpp.org/",
  },
  {
    title: "python",
    url: "https://python.org",
  },
];

const stackJoin = (stack: Stack[]) => {
  let res = "";

  const toA = (s: Stack) => {
    if (s.url) {
      return `<a href="${s.url}">${s.title}</a>`;
    } else {
      return s.title;
    }
  };

  for (let i = 0; i < stack.length; i++) {
    if (i === stack.length - 1) {
      res += `and ${toA(stack[i])}`;
    } else {
      res += `${toA(stack[i])}, `;
    }
  }

  return res;
};
---

<Layout title="Yumi Izumi">
  <h1># hi, i'm Yumi</h1>
  <p>
    studying cybersecurity at <a href="https://psu.edu/">penn state</a>, i
    advocate for privacy in this digital era, and code for fun
  </p>
  <section id="projects">
    <h2>## projects</h2>
    <ul>
      {
        projects.map((project) => (
          <li>
            <a href={project.url}>
              <u>{project.title}</u>
              <span>{project.period}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section id="writing">
    <h2>## writing</h2>
    <p>
      i infrequently write about things that interests me on <a
        href="/blog"
        aria-label="my blog">my blog</a
      >
    </p>
    <ul>
      {
        blogs.map((post) => (
          <li>
            <a href={`/blog/${post.slug}`}>
              <span>
                {new Date(post.data.pubDate).toISOString().split("T")[0]}
              </span>
              <u>{post.data.title}</u>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
  <section id="stack">
    <h2>## stack</h2>
    <p>
      some of the software and tools I use daily and love:
      <span set:html={stackJoin(stacks)} />
    </p>
  </section>
  <section id="skills">
    <h2>## skills</h2>
    <p>
      i'm confident with
      <span set:html={stackJoin(skills)} />
    </p>
    <p>
      i have some experience with
      <span set:html={stackJoin(experiencedSkill)} />
    </p>
  </section>
  <section id="contact">
    <h2>## contact</h2>
    <p>
      feel free to contact me for random ideas, questions, or just to say hi<br
      />
      <a href="https://yumi.to/card" aria-label="virtual card">card</a> or email:
      <span class="neon">mail (at) yumi.to</span>
    </p>
  </section>
  <footer>
    <p>
      minimal data collection with <a href="https://plausible.io/yumiizumi.com"
        >plausible</a
      >
    </p>
  </footer>
</Layout>
