---
import socials from "@data/socials";

interface Props {
  size?: number;
  color?: string;
  tabindex?: number;
}

const { size = 32, color = "inherit", tabindex } = Astro.props;
---

<div class="socials">
  {
    socials.map((social) => (
      <a
        href={social.link}
        aria-label={social.ariaLabel}
        set:html={social.svg}
        style={{ "--size": `${size}px`, "--color": color }}
        tabindex={tabindex}
      />
    ))
  }
</div>
<style lang="scss">
  .socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 6px;
    backdrop-filter: blur(2px);
    a {
      height: var(--size);
      width: var(--size);
      padding: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      backdrop-filter: blur(5px);
      color: var(--color);

      &:hover {
        filter: brightness(0.8);
      }

      &:focus-within {
        outline: dashed;
      }

      svg {
        height: calc(var(--size) - 8px);
        width: calc(var(--size) - 8px);
      }
    }
  }
</style>
