---
import WorkCard from "@components/WorkCard.astro";
import skills from "@data/skills";
import works from "@data/works";
---

<section id="work">
  <h2>Work</h2>
  <div class="skills">
    {
      skills.map((skill) => (
        <div class={`skill-${skill.value}`} set:html={skill.svg} tabindex="0" />
      ))
    }
  </div>
  {works.map((work: Work) => <WorkCard work={work} />)}
</section>
<style lang="scss" is:global>
  $skills: (ionic, react, ts, php, html, css, astro, mysql);

  #work {
    min-height: 40vh;
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin: 1.3em 0;

    div {
      height: 36px;
      width: 36px;
      border-radius: 4px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus-visible {
        outline: dashed;
      }

      &:hover {
        svg {
          color: var(--text-hover-color);
        }
      }
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .skills {
      @each $skill in $skills {
        &:has(.skill-#{$skill}:focus-visible)
          ~ .work-card:has(.skill-#{$skill})
          p,
        &:has(.skill-#{$skill}:hover) ~ .work-card:has(.skill-#{$skill}) p {
          opacity: 1;
        }

        &:has(.skill-#{$skill}:hover) ~ .work-card span.skill-#{$skill},
        &:has(.skill-#{$skill}:focus-visible)
          ~ .work-card
          span.skill-#{$skill} {
          font-family: TexgyrecursorBold, sans-serif;
          font-size: 0.9em;
        }
      }
    }
  }
</style>
