---
interface Props {
  title: string;
  description?: string;
  period?: string;
  skills?: string[];
  link?: string;
}

const { title, description, period, skills, link } = Astro.props;
---

<section>
  <details>
    <summary>
      <h2>{title}</h2>
      {description && <p>{description}</p>}
      {period && <p class="period">{period}</p>}
    </summary>
    <div>
      {skills && <p>{skills.join(", ")}</p>}
      {link && <a href={link}>{link}</a>}
    </div>
  </details>
</section>
<style lang="scss">
  section {
    width: 100%;
    text-align: left;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    transition: transform 0.1s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover,
    &:focus-within {
      transform: scale(1.03);
    }
  }
  summary {
    position: relative;
    padding: 30px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::marker {
      content: "";
    }

    .period {
      position: absolute;
      right: 30px;
      top: 30px;
      font-size: 20px;
    }
  }
  div {
    padding: 0 30px 30px 30px;

    p {
      color: #ddd;
    }
    a {
      font-size: 1.5rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
