---
import skills from "@/data/skills";
interface Props {
  work: Work;
}

const { work } = Astro.props;
---

<div class="work-card">
  <div class="header">
    <h3>
      <a href={work.link}>{work.title}</a>
    </h3>
    {work.period && <p>{work.period}</p>}
  </div>
  {work.role && <h4>{work.role}</h4>}
  {
    work.skills && (
      <p>
        {work.skills.map((skill) => (
          <span class={`skill-${skill}`}>
            {skills.find((s: Skill) => s.value === skill)?.label}
          </span>
        ))}
      </p>
    )
  }
</div>

<style lang="scss">
  .work-card {
    border-radius: 10px;
    padding: 0.2em 0.5em 0.5em 0.5em;
    transform: translateX(-0.5em);
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        opacity: 1;
        font-size: 1.1em;
      }
    }

    h4 {
      font-size: 0.8em;
      margin: 0.5em 0;
    }

    p {
      opacity: 0;
      font-size: 1.1em;
    }

    &:focus-within,
    &:hover {
      p {
        opacity: 1;
      }
    }

    &:focus-within {
      outline: dashed;
    }
  }

  a {
    &:focus-visible {
      outline: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .work-card {
      p {
        opacity: 1;
      }
    }
  }
</style>
